<!--escort-->
<!--<div class="flex flex-col items-start justify-center bg-backgroundQuote w-[300px] p-[25px] gap-[25px]">
    <img class="w-[24px] h-[18px]" src="/img/gobbler.png" alt="gobbler">
    <p class="text-start text-[15px] text-[#086C80] leading-[170%] tracking-[.2px]">
        «Мы обязаны помнить об исконных российских традициях справедливости <br>
        и законности, помнить о том, что диктатура закона — это единственная <br>
        разновидность диктатуры, которой мы обязаны подчиняться».
    </p>
    <div class="mainArticle__user flex items-center	gap-4 rounded-full py-[9px] pl-[9px] pr-[20px] bg-[#F8F8F8]">
        <img src="/img/Ellipse10.png" alt="Ellipse10">
        <p>В.В.Путин</p>
    </div>
</div>-->

<!--home ....-->
<!--<div class="flex flex-col gap-y-10 items-center justify-center border-t-[1px] border-b-[1px] border-[#B3B3B3] pt-[60px] pb-[58px]  max-sm:py-[35px] max-sm:gap-y-[25px]">
    <img class="mt-1.5 max-sm:w-[32px] h-[24px]" src="/img/gobbler.png" alt="gobbler">
    <p class="text-center text-[25px] mt-2 tracking-[.1px]  max-sm:text-[18px] leading-[150%] max-sm:mt-[2px]">
        «Мы обязаны помнить об исконных российских традициях справедливости <br class="max-lg:hidden">
        и законности, помнить о том, что диктатура закона — это единственная <br class="max-lg:hidden">
        разновидность диктатуры, которой мы обязаны подчиняться».
    </p>
    @@include("../person-card/index.html")
</div>-->

    <!--article-->
    <div class="flex flex-col gap-y-10 items-center justify-center border-t-[1px] border-b-[1px] border-[#B3B3B3] py-10 my-20 max-md:my-10 max-md:pt-[35px] max-md:pb-[33px] max-md:gap-y-[23px]">
        <img class="mt-1.5 w-[48px] h-[36px] max-md:w-[32px] max-md:h-[24px] max-md:mt-[2px]" src="/img/gobbler.png" alt="gobbler">
        <p class="text-center text-[25px] mt-2 tracking-[.1px] max-md:text-[18px] leading-[150%]">
            Об устойчивости ценового давления свидетельствует динамика <br class="max-lg:hidden"> базовой инфляции.
            Этот показатель четыре месяца подряд растет <br class="max-lg:hidden"> темпами выше 10 процентов в пересчете на год
        </p>
    <div class="flex flex-col gap-2.5">
        <div class="mainArticle__user flex items-center	gap-4 rounded-full py-[9px] pl-[9px] pr-[20px] bg-[#F8F8F8]">
            <img class="max-md:w-[28px] h-[28px]" src="/img/Ellipse10.png" alt="Ellipse10">
            <p class="max-md:text-[13px]">В.В.Путин</p>
        </div>
        @@include("../person-card-desc/index.html")
    </div>
</div>


