<!--
escort
<div class="flex flex-col items-start justify-center bg-backgroundQuote w-[300px] p-[25px] gap-[25px]">
    <img class="w-[24px] h-[18px]" src="/img/gobbler.png" alt="gobbler">
    <p class="text-start text-[15px] text-[#086C80] leading-[170%] tracking-[.2px]">
        «Мы обязаны помнить об исконных российских традициях справедливости <br>
        и законности, помнить о том, что диктатура закона — это единственная <br>
        разновидность диктатуры, которой мы обязаны подчиняться».
    </p>
    <div class="mainArticle__user flex items-center	gap-4 rounded-full py-[9px] pl-[9px] pr-[20px] bg-[#F8F8F8]">
        <img src="/img/Ellipse10.png" alt="Ellipse10">
        <p>В.В.Путин</p>
    </div>
</div>
-->

<div class="flex flex-col gap-y-10 items-center justify-center border-t-[1px] border-b-[1px] border-[#B3B3B3] py-[60px]">
    <img class="mt-1.5" src="/img/gobbler.png" alt="gobbler">
    <p class="text-center text-[25px] mt-2 tracking-[.1px]">
        «Мы обязаны помнить об исконных российских традициях справедливости <br>
        и законности, помнить о том, что диктатура закона — это единственная <br>
        разновидность диктатуры, которой мы обязаны подчиняться».
    </p>
    <div class="mainArticle__user flex items-center	gap-4 rounded-full py-[9px] pl-[9px] pr-[20px] bg-[#F8F8F8]">
        <img src="/img/Ellipse10.png" alt="Ellipse10">
        <p>В.В.Путин</p>
    </div>
</div>
