<style>
    .markers li {
        display: flex;
        align-items: center;
        line-height: 185%;
    }

    .markers li::before {
        content: "";
        border-radius: 12px;
        background: #086C80;
        width: 12px;
        height: 12px;
        margin-right: 24px;
        margin-left: 9px;
    }
</style>

<ul class="markers flex flex-col gap-[10px]">
    <li>Сбор и подготовка всех необходимых документов</li>
    <li>Подача заявления в арбитражный суд</li>
    <li>Составление необходимых отчетов</li>
    <li>Законное истребование дебиторских задолженностей</li>
    <li>Общение с кредиторами и арбитражным управляющим</li>
    <li>Установление полного размера долгов перед кредиторами всех очередей</li>
    <li>Участие в составлении реестра кредиторов и контроль над правильностью составления реестра</li>
    <li>Опись имущества должника</li>
    <li>Правовая защита должника на протяжении всей процедуры</li>
</ul>
