<div class="relative flex flex-col gap-[25px] bg-[#097990] w-[300px] px-[25px] pt-5 pb-[25px]">
    <div class="flex flex-col gap-[5px]">
        <h2 class="text-[20px] leading-[150%] text-white">Наш телеграм канал</h2>
        <p class="text-[15px] leading-[140%] text-[#CFF4FC] tracking-[.2px]">Наведите камеру телефона на QR код, чтобы перейти в наш телеграм</p>
    </div>
    <img class="absolute top-0 right-0" src="/img/Vector3.svg" alt="Vector3">
    <img class="w-[150px] h-[150px]" src="/img/cusir-code-telegram.svg" alt="cusir-code-telegram">
    <!--в компоненте button-social нужно заменить класс gap-[23px] на gap: 75px;-->
    @@include("../button-social/button-social.html")
</div>
