<div class="flex flex-col mt-20 gap-10 items-center max-xl:mt-[35px] max-md:gap-[35px]">
    <div class="w-full h-px bg-[#E6E6E6]"></div>
    <div class="flex flex-wrap justify-center gap-[5px]">
        @@include("components/article-content-navigation-item/index.html")
        @@include("components/article-content-navigation-item/index.html")
        @@include("components/article-content-navigation-item/index.html")
        @@include("components/article-content-navigation-item/index.html")
        @@include("components/article-content-navigation-item/index.html")
    </div>
    <div class="flex flex-col gap-2.5">
        @@include("../../../../../../components/person-card/index.html")
        @@include("../../../../../../components/person-card-desc/index.html")
    </div>
</div>
