<div class="flex flex-col mt-20 gap-10 items-center">
    <div class="w-full h-px bg-[#E6E6E6]"></div>
    <div class="flex gap-[5px]">
        @@include("components/article-content-navigation-item/index.html")
        @@include("components/article-content-navigation-item/index.html")
        @@include("components/article-content-navigation-item/index.html")
        @@include("components/article-content-navigation-item/index.html")
        @@include("components/article-content-navigation-item/index.html")
    </div>
    <div class="flex flex-col gap-2.5">
        <div class="mainArticle__user flex items-center	gap-4 rounded-full py-[9px] pl-[9px] pr-[20px] bg-[#F8F8F8]">
            <img src="/img/Ellipse10.png" alt="Ellipse10">
            <p>В.В.Путин</p>
        </div>
        <p class="text-[13px] text-[#999] leading-[19px]">Председатель Банка России</p>
    </div>
</div>
