<style>
    .header__menu {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(7.5px);
    }
</style>

<!--если страницу начали скролить для <ul> нужно дабавить класс bg-black-->
<!--в некоторых случаях нужно изменить цвет текста text-black-->
<header class="flex absolute py-8 px-20">
    <img src="/img/logo.png" alt="logo">
    <ul class="header__menu flex text-center items-center mt-0.5 px-5 h-[50px] rounded-[25px] shadow-boxShadow fixed right-[35.79%]">
        <li><a class="text-white px-2.5 text-[15px] font-medium	leading-[150%]" href="#">О нас</a></li>
        <li><img class="px-[5px]" src="/img/Frame1820.svg" alt="Frame1820"></li>
        <li><a class="text-white px-2.5 text-[15px] font-medium	" href="#">Услуги</a></li>
        <li><img class="px-[5px]" src="/img/header__menu_line.svg" alt="header__menu_line"></li>
        <li><a class="text-white px-2.5 text-[15px] font-medium	" href="#">Блог</a></li>
        <li><img class="px-[5px]" src="/img/Frame1820.svg" alt="Frame1820"></li>
        <li><a class="text-white px-2.5 text-[15px] font-medium	" href="#">Контакты</a></li>
    </ul>
</header>
