<footer class="footer flex flex-col px-20 pt-20 pb-10 bg-custom-gradient">
    <div class="flex justify-between">
        <img class="h-[65px]" src="/img/logo.svg" alt="logo">
        <div class="footer__list flex justify-between max-w-[436px] w-full">
            <ul class="flex flex-col gap-5">
                <li class="text-white leading-[145%]">О нас</li>
                <li class="text-white leading-[145%]">Услуги</li>
                <li class="text-white leading-[145%]">Блог</li>
                <li class="text-white leading-[145%]">Контакты</li>
            </ul>
            <p class="text-white leading-[145%] tracking-[0.38px]">
                ММДЦ “Москва-Сити” <br>
                Башня Федерация, г. Москва <br>
                Пресненская наб. д. 12, офис 85
            </p>
        </div>
    </div>
    <div class="h-px bg-[#242D3E] mt-[78px]"></div>
    <div class="footer__link flex justify-between mt-10 opacity-50">
        <p class="text-white leading-[170%] tracking-[.3px]">@ 2023 Комитет Информации</p>
        <p class="text-white leading-[170%] tracking-[.3px]">Политика конфиденциальности</p>
    </div>
</footer>
