<footer class="footer flex flex-col px-20 pt-20 pb-10 bg-custom-gradient max-lg:hidden">
    <div class="flex justify-between">
        <img class="h-[65px]" src="/img/logo.svg" alt="logo">
        <div class="footer__list flex justify-between max-w-[436px] w-full">
            <ul class="flex flex-col gap-5">
                <li class="text-white leading-[145%]">О нас</li>
                <li class="text-white leading-[145%]">Услуги</li>
                <li class="text-white leading-[145%]">Блог</li>
                <li class="text-white leading-[145%]">Контакты</li>
            </ul>
            <p class="text-white leading-[145%] tracking-[0.38px]">
                ММДЦ “Москва-Сити” <br>
                Башня Федерация, г. Москва <br>
                Пресненская наб. д. 12, офис 85
            </p>
        </div>
    </div>
    <div class="h-px bg-[#242D3E] mt-[35px]"></div>
    <div class="footer__link flex justify-between mt-10 opacity-50">
        <p class="text-white leading-[170%] tracking-[.3px]">@ 2023 Комитет Информации</p>
        <p class="text-white leading-[170%] tracking-[.3px]">Политика конфиденциальности</p>
    </div>
</footer>

<!--media-->
<footer class="footer lg:hidden flex flex-col items-start bg-custom-gradient max-sm:pt-10 px-4 pb-[25px]">
    <img class="h-[65px] max-sm:h-[40px] w-[155px]" src="/img/logo.svg" alt="logo">
    <div class="h-px bg-[#242D3E] my-[35px] w-full"></div>
    <ul class="flex flex-col gap-[25px] w-full">
        <li class="text-white leading-[145%] flex justify-between items-center">
            <a href="#">О нас</a>
            <img src="/img/footer-icon.png" alt="footer-icon">
        </li>
        <li class="text-white leading-[145%] flex justify-between items-center">
            <a href="#">Услуги</a>
            <img src="/img/footer-icon.png" alt="footer-icon">
        </li>
        <li class="text-white leading-[145%] flex justify-between items-center">
            <a href="#">Блог</a>
            <img src="/img/footer-icon.png" alt="footer-icon">
        </li>
        <li class="text-white leading-[145%] flex justify-between items-center">
            <a href="#">Контакты</a>
            <img src="/img/footer-icon.png" alt="footer-icon">
        </li>
    </ul>
    <div class="h-px bg-[#242D3E] mt-[35px] w-full"></div>
    <p class="text-white leading-[150%] tracking-[0.38px] mt-[35px] text-[15px]">
        ММДЦ “Москва-Сити” <br>
        Башня Федерация, г. Москва <br>
        Пресненская наб. д. 12, офис
    </p>
    <div class="h-px bg-[#242D3E] mt-[36px] w-full"></div>
    <div class="footer__link flex flex-col gap-[10px] mt-[25px] opacity-50">
        <p class="text-white leading-[170%] tracking-[.1px] text-[13px]">@ 2023 Комитет Информации</p>
        <p class="text-white leading-[170%] tracking-[.1px] text-[13px]">Политика конфиденциальности</p>
    </div>
</footer>
