<!--<div>"красный" border-green-700 bg-red-500 -->
<!--<div>"зелёный" border-red-500 bg-teal-200 -->
<!--<p>"красный" text-[#BB2525]-->
<!--<p>"зелёный" text-[#086C80]-->

<!--В некоторых случаях нужно указать mt-[30px] в место my-[30px]-->
<div class="px-[35px] py-[25px] border-l-4 border-green-700 bg-teal-200 bg-opacity-10 mt-[30px]">
    <p class="text-[#086C80]">
        «Лихие девяностые» исчерпали себя сами собой – по мере изменения экономических и социальных условий
        ужесточения уголовного законодательства и повышения эффективности работы правоохранительных структур.
        В 2002 был принят актуальный доныне <a class="text-[#097990] leading-[170%] font-bold" href="#"> ФЗ №127.</a> С тех пор в него неоднократно вносились поправки,
        адаптируя законодательный акт к меняющимся условиям.
    </p>
</div>
