<style>
    .article_banner {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.55) 44.01%, rgba(0, 0, 0, 0.90) 100%), url('../../img/article-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="article_banner px-20 h-[800px] flex flex-col justify-end">
    <h2 class="text-[40px] leading-[140%] text-white tracking-[.5px]">
        Центробанк в пятый раз подряд поднял <br> ключевую ставку. Как это повлияет на курсы <br> валют, кредиты и ипотеку?
    </h2>
    <div class="w-screen h-px bg-[#E6E6E6] my-10"></div>
    <div class="flex justify-between items-start">
        <p class="text-white leading-[170%]">
            На последнем в 2023 году заседании совета директоров Центробанка 15 декабря вновь было принято решение о
            <br>повышении ключевой ставки, хотя на этот раз регулятор не обманул ожидания большинства аналитиков.<br>
            Ключевой параметр денежно-кредитной политики (ДКП) подняли до 16 процентов,
            что стало новым максимумом с <br> весны 2022 года.
        </p>
        <img src="/img/Subtract.png" alt="Subtract">
    </div>
</div>
