<style>
    .article_banner {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.55) 44.01%, rgba(0, 0, 0, 0.90) 100%), url('../../img/article-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="article_banner px-20 h-[800px] flex flex-col justify-end max-md:px-4 max-md:h-[645px]">
    <h2 class="text-[40px] leading-[140%] text-white tracking-[.5px] max-md:text-[24px]">
        Центробанк в пятый раз подряд поднял <br class="max-lg:hidden"> ключевую ставку. Как это повлияет на курсы <br class="max-lg:hidden"> валют, кредиты и ипотеку?
    </h2>
    <div class="h-px bg-[#E6E6E6] my-10 max-xl:my-[25px]"></div>
    <div class="flex justify-between items-start max-xl:mb-[30px] gap-10">
        <p class="text-white leading-[170%] max-md:text-[14px] max-md:leading-[150%]">
            На последнем в 2023 году заседании совета директоров Центробанка 15 декабря вновь было принято решение о
            <br class="max-xl:hidden">повышении ключевой ставки, хотя на этот раз регулятор не обманул ожидания большинства аналитиков.<br class="max-xl:hidden">
            Ключевой параметр денежно-кредитной политики (ДКП) подняли до 16 процентов,
            что стало новым максимумом с <br class="max-xl:hidden"> весны 2022 года.
        </p>
        <img class="max-sm:hidden" src="/img/Subtract.png" alt="Subtract">
    </div>
</div>
